/* For smaller screens at 1100px: */
@media screen and (max-width: 1108px) {
.wrapper {width: 90%;}
#social {
    position: absolute;
    top: 82px;
    right: 4px;
    width: auto;
}
}


/* For tablets at 900px: */

@media screen and (max-width: 900px) {
body{font-size: 85%;}
#logo h1{
    height:35px;
    width:35px;
}

#logo h2 {
  font-size:2.2em;
}

#social{
    position: absolute;
    top: 72px;
    right: 4px;
    width: auto;
}

.col-3 p{
  column-count:2;
}
}


/* For tablets at 750px: */

@media screen and (max-width: 750px) {
  #navbar {
    font-size:0.9em;
  }
  .col-3 p{
    column-count:1;
  }
  .col-1 and .col-2 and .col-3 {
    width:100%
    margin:0;
    float:none;
  }
  }
}
